{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>SignUp Admin</title>
    <style>

    </style>
</head>

<body>
    <form {% if update %} action="profileupdate" {% else %} action="/signup" {% endif %} method="post">
        <div class="heading">leetCode  {% if not update %} Administration {% else %} Profile {% endif %} </div>
        <div>
            {% if not update %}
            <div class="input">
                <label for="username">Create Username</label>
                <input required type="text" value="{{username}}" placeholder="Create your username" name="username" id="username">
                {% if username %}
                <div style="font-size: 12px; padding:10px 2px; color:rgb(221, 22, 22)">Username already exist..!</div> 
                {% endif %}
            </div>
            {% endif %}
            <div class="input">
                <label for="fullname">Enter your Full Name</label>
                <input required type="text" value="{{fullname}}" placeholder="Enter your Full Name" name="fullname" id="fullname">
            </div>
            <div class="input">
                <label for="mobile">Enter your mobile number</label>
                <input required minlength="10" maxlength="12" type="tel" value="{{mobile}}" placeholder="Enter your mobile number" name="mobile" id="mobile">
            </div>

            <div class="input">
                <label for="email">Enter Your Email</label>
                <input required type="email" value="{{email}}" placeholder="Enter your email" name="email" id="email">
            </div>
            {% if not update %}
            <div class="input">
                <label for="confpassword">Create Password</label>
                <input required min="6" max="12" minlength="6" maxlength="12" type="password" placeholder="Create your password" name="password" id="confpassword">
            </div>
            {% endif %}
        </div>
        <div class="processed">
            {% if not update %}
            <div class="anyac"><a href="/login">I already have an account</a></div>
            <button>Register</button>
            {% else %}
            <button>Update Profile</button>
            {% endif %}
        </div>
    </form>
</body>

</html>